{% use 'form_div_layout.html.twig' %}

{%- block form_widget_compound -%}
    {%- set attr = attr|merge({ class: (attr.class|default('') ~ ' form-fields')|trim }) -%}

    {% with { attr: attr } %}
        {{ parent() }}
    {% endwith %}
{%- endblock form_widget_compound -%}

{% block form_row %}
    {%- set row_attr = row_attr|merge({ class: (row_attr.class|default('') ~ ' form-field form-field-' ~ form.vars.block_prefixes|last)|trim }) -%}

    {% if 'checkbox' in form.vars.block_prefixes %}
        {%- set row_attr = row_attr|merge({ class: (row_attr.class ~ ' form-field-checkbox')|trim }) -%}
    {% endif %}

    {% if not form.vars.valid %}
        {%- set row_attr = row_attr|merge({ class: (row_attr.class ~ ' has-error')|trim }) -%}
    {% endif %}

    {% with { row_attr: row_attr } %}
        {{ parent() }}
    {% endwith %}
{% endblock form_row %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <ul class="form-field-error" role="alert">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock form_errors %}

{% block widget_attributes -%}
    {%- if not valid -%}
        {%- set attr = attr|merge({ 'aria-invalid': 'true' }) -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock widget_attributes %}

{% block submit_widget %}
    {%- set attr = attr|merge({ class: (attr.class|default('') ~ ' primary')|trim }) -%}

    {% with { attr: attr } %}
        {{ parent() }}
    {% endwith %}
{% endblock submit_widget %}

{% block button_row %}
    {%- set row_attr = row_attr|merge({ class: (row_attr.class|default('') ~ ' form-control')|trim }) -%}

    {% with { row_attr: row_attr } %}
        {{ parent() }}
    {% endwith %}
{% endblock button_row %}
