{% for torrent in torrents %}
    <article class="torrent torrent--{{ torrent.state }}" id="torrent-{{ torrent.hash }}">
        <header class="torrent-header">
            <h2 class="torrent-name">{{ torrent.name }}</h2>
            <div class="torrent-state">{{ ('torrents.state.' ~ torrent.state)|trans }}</div>
        </header>
        <div class="torrent-middle-container">
            <progress value="{{ torrent.progress }}"></progress>

            <div class="torrent-info">
                <span class="torrent-info-value">{{ format_bytes(torrent.size) }}</span>

                {% if torrent.state == 'downloading' %}
                    <span class="torrent-info-value">
                        {{ ux_icon('downloading-arrow') }}
                        {{ format_bytes(torrent.dlspeed) }}/s
                    </span>

                    <span class="torrent-info-value">
                        {{ ux_icon('hourglass') }}
                        {{ torrent.eta }}
                    </span>
                {% elseif torrent.state == 'seeding' %}
                    <span class="torrent-info-value">
                        {{ ux_icon('uploading-arrow') }}
                        <span >{{ format_bytes(torrent.upspeed) }}/s</span>
                    </span>

                    <span class="torrent-info-value">
                        {{ ux_icon('exchange') }}
                        {{ torrent.ratio|format_number({ fraction_digit: 2 }) }}
                    </span>
                {% endif %}
            </div>

            <div class="torrent-controls">
                {% if torrent.state != 'disabled' %}
                    <button class="icon-only torrent-{% if torrent.paused %}resume{% else %}pause{% endif %}">
                        {{ ux_icon(torrent.paused ? 'play' : 'pause') }}
                    </button>
                {% endif %}

                <button class="icon-only danger torrent-remove">
                    {{ ux_icon('close') }}
                </button>
            </div>
        </div>
    </article>
{% else %}
    {% if not backend_available %}
        <div class="alert alert-{% if alert_level == 'error' %}danger{% else%}warning{% endif %} backend-alert" role="alert">
            {% if backend_starting %}
                {{ 'torrents.unavailable.starting'|trans }}
            {% elseif backend_updating %}
                {{ 'torrents.unavailable.updating'|trans }}
            {% elseif backend_stopped %}
                {{ 'torrents.unavailable.stopped'|trans }}
            {% else %}
                {{ 'torrents.unavailable.failed'|trans }}
            {% endif %}
        </div>
    {% else %}
    <div class="alert alert-info" role="alert">{{ 'torrents.none'|trans }}</div>
    {% endif %}
{% endfor %}
