<table class="table">
    <thead>
        <tr>
            <td>#</td>
            <td>{{ 'torrents.tabTrackers.url'|trans }}</td>
            <td>{{ 'torrents.tabTrackers.state'|trans }}</td>
            <td>{{ 'torrents.tabTrackers.peers'|trans }}</td>
            <td>{{ 'torrents.tabTrackers.message'|trans }}</td>
        </tr>
    </thead>
    <tbody>
    {% for tracker in trackers %}
        <tr>
            <td>{{ tracker.id }}</td>
            <td>{{ tracker.url }}</td>
            <td>none</td>
            <td>{{ tracker.peers }}</td>
            <td>{{ tracker.message }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
