<table class="search-results">
    <thead>
        <tr>
            <th class="col-title text-left">{{ 'search.torrents.name'|trans }}</th>
            <th class="col-tracker">{{ 'search.torrents.tracker'|trans }}</th>
            <th class="col-size">{{ 'search.torrents.size'|trans }}</th>
            <th class="col-age">{{ 'search.torrents.age'|trans }}</th>
            <th class="col-seeders">
                 {{ ux_icon('uploading-arrow') }}
            </th>
            <th class="col-leechers">
                {{ ux_icon('downloading-arrow') }}
            </th>
            <th class="col-add-magnet"></th>
        </tr>
    </thead>
    <tbody>
    {% for result in results %}
        <tr>
            <td class="col-title text-col text-left">
                <a href="{{ result.Details }}" target="_blank">{{ result.Title }}</a>
            </td>
            <td class="col-tracker">{{ result.Tracker }}</td>
            <td class="col-size">{{ format_bytes(result.Size) }}</td>
            <td class="col-age">{{ format_age(date_to_age(result.PublishDate)) }}</td>
            <td class="col-seeders">{{ result.Seeders }}</td>
            <td class="col-leechers">{{ result.Peers }}</td>
            <td class="col-add-magnet">
                <a href="{{ result.MagnetUri }}">
                    {{ ux_icon('magnet') }}
                </a>
            </td>
        </tr>

    {% endfor %}
</tbody>
</table>
