{% extends 'skeleton.html.twig' %}

{% block title %}{{ 'administration.title'|trans }} - {{ 'app.name'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('administration') }}
{% endblock %}

{% block content %}
{% cache cache_key('administration') %}
<h1>{{ 'administration.title'|trans }}</h1>
<hr />

<div>
    <a class="btn btn-default administration-tile" href="{{ path('listUsers') }}">
        <span class="fa fa-fw fa-user"></span>
        {{ 'administration.handleUsers'|trans }}
    </a>
</div>

{% endcache %}
{% endblock %}
