{% extends 'skeleton.html.twig' %}

{% block title %}{{ 'app.name'|trans }} - {{ 'home.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block main_script %}{% endblock %}

{% block content %}

{% cache cache_key('home') %}
    <div class="jumbotron">
        <h1>{{ 'home.welcome'|trans }}</h1>
        <p>{{ 'home.description'|trans|nl2br }}</p>
    </div>

    <div class="blocks">
        <div class="block">
            <span class="icon-container">{{ ux_icon('user') }}</span>
            <div class="block-text">
                <h2>{{ 'home.accessibility.title'|trans }}</h2>
                <p>{{ 'home.accessibility.content'|trans }}</p>
            </div>
        </div>

        <div class="block">
            <span class="icon-container">{{ ux_icon('share') }}</span>
            <div class="block-text">
                <h2>{{ 'home.sharing.title'|trans }}</h2>
                <p>{{ 'home.sharing.content'|trans }}</p>
            </div>
        </div>

        <div class="block">
            <span class="icon-container">{{ ux_icon('lock') }}</span>
            <div class="block-text">
                <h2>{{ 'home.security.title'|trans }}</h2>
                <p>{{ 'home.security.content'|trans }}</p>
            </div>
        </div>

        <div class="block">
            <span class="icon-container">{{ ux_icon('wrench') }}</span>
            <div class="block-text">
                <h2>{{ 'home.performance.title'|trans }}</h2>
                <p>{{ 'home.performance.content'|trans }}</p>
            </div>
        </div>

        <div class="block">
            <span class="icon-container">{{ ux_icon('tag') }}</span>
            <div class="block-text">
                <h2>{{ 'home.openSource.title'|trans }}</h2>
                <p>{{ 'home.openSource.content'|trans({ 'a_start': '<a href="https://github.com/Athorcis/athorrent-frontend">', 'a_end': '</a>'})|raw }}</p>
            </div>
        </div>
    </div>
    {% endcache %}
{% endblock %}
