{% extends "skeleton.html.twig" %}

{% block title %}{{ 'torrents.title'|trans }} - {{ 'app.name'|trans }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('torrents') }}
{% endblock %}

{% block main_script %}
    {{ encore_entry_script_tags('torrents') }}
{% endblock %}

{% block content %}
    <header class="main-header">
        <h1>
            {{ 'torrents.title'|trans }}
        </h1>

        {% if app.user.clientType === 'qbittorrent' %}
            <a href="{{ path('proxyToQBittorrent', { path: ''}) }}" target="_blank" class="button open-qbittorrent-ui">
                {{ ux_icon('open') }}{{ 'torrents.advanced'|trans }}
            </a>
        {% endif %}

        <button class="primary add-button" popovertarget="add-button-popover">
            {{ ux_icon('plus') }}{{ 'files.add'|trans }}
        </button>
        <ul class="dropdown-menu" id="add-button-popover" popover>
            <li>
                <button class="add-torrent">
                    {{ ux_icon('file') }}{{ 'torrents.addTorrent'|trans }}
                </button>
            </li>
            <li>
                <button class="add-magnet">
                    {{ ux_icon('magnet') }}{{ 'torrents.addMagnet'|trans }}
                </button>
            </li>
        </ul>
    </header>

    <div class="torrent-list">
        {% include "fragments/listTorrents.html.twig" %}
    </div>
{% endblock %}

{% block templates %}
    {{ parent() }}

    <template id="template-dropzone-preview">
        {% include "fragments/dropzonePreview.html.twig" %}
    </template>
{% endblock %}
