{% extends 'skeleton.html.twig' %}

{% block title %}{{ title }} - {{ 'app.name'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('files') }}
{% endblock %}

{% block main_script %}
    {{ encore_entry_script_tags('files') }}
{% endblock %}

{% block content %}
    <header class="main-header">
        <h1 title="{{ title}}">{{ title }}</h1>

        {% if dir.writable %}
            <button class="primary add-button" popovertarget="add-button-popover">
                {{ ux_icon('plus') }}{{ 'files.add'|trans }}
            </button>
            <ul class="dropdown-menu" id="add-button-popover" popover>
                <li>
                    <button class="add-file">
                        {{ ux_icon('file') }}{{ 'files.addFile'|trans }}
                    </button>
                </li>
                <li>
                    <button class="add-directory">
                        {{ ux_icon('directory') }}{{ 'files.addDirectory'|trans }}
                    </button>
                </li>
            </ul>
        {% endif %}

        {% include 'fragments/breadcrumb.html.twig' %}
    </header>

    {% include 'fragments/listFiles.html.twig' %}
{% endblock %}

{% block templates %}
    {{ parent() }}

    <template id="template-dropzone-preview">
        {% include "fragments/dropzonePreview.html.twig" %}
    </template>
{% endblock %}
