{% extends 'skeleton.html.twig' %}

{% block title %}{% if title %}{{ title }}{% else %}Fichiers{% endif %} - {{ 'app.name'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ stylesheet('files')|raw }}
{% endblock %}

{% block main_script %}
    {{ script('files')|raw }}
{% endblock %}

{% block content %}
    <h1 title="{{ title}}">{{ title }}</h1>

    {% include 'fragments/breadcrumb.html.twig' %}

    <table class="file-list">
        {% include 'fragments/listFiles.html.twig' %}
    </table>
{% endblock %}
