{% extends 'skeleton.html.twig' %}

{% block title %}{{ 'users.title'|trans }} - {{ 'app.name'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('users') }}
{% endblock %}

{% block main_script %}
    {{ encore_entry_script_tags('users') }}
{% endblock %}

{% set userId = app.user.id %}

{% block content %}
    <header class="main-header">
        <h1>
            {{ 'users.title'|trans }}
        </h1>

        <a class="button primary" href="{{ path('addUser') }}">{{ ux_icon('plus') }}{{ 'users.add.title'|trans }}</a>
    </header>

    <table class="user-list">
        <thead>
            <tr>
                <th>#</th>
                <th class="text-left">{{ 'users.username'|trans }}</th>
                <th class="text-left">{{ 'users.role'|trans }}</th>
                <th class="text-left">{{ 'users.lastConnection'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in pagination.entities %}
                {% cache cache_key('user', user) %}
                <tr class="user" id="user-{{ user.id }}">
                    <td>{{ user.id }}</td>
                    <td class="user-name text-left">{{ user.username }}</td>
                    <td class="text-left">{{ user.roles[0]|trans }}</td>
                    <td class="text-left">
                        {% if user.connectionTimestamp %}
                            {{ user.connectionTimestamp|format_datetime }}
                        {% else %}
                            {{ 'users.lastConnectionNone'|trans }}
                        {% endif %}
                    </td>
                    <td class="text-right user-buttons">
                        {% if user.id != userId %}
                            <a class="button icon-only user-switch" href="{{ path('files_listFiles', { _switch_user: user.username }) }}">
                                {{ ux_icon('eye') }}
                            </a>
                        {%- endif -%}

                        <button class="icon-only user-reset-password">
                            {{ ux_icon('reload') }}
                        </button>

                        {#- -#}
                        <button class="icon-only danger user-remove" {% if user.id == 1 or user.id == userId %}disabled{% endif %}>
                            {{ ux_icon('close') }}
                        </button>
                    </td>
                </tr>
                {% endcache %}
            {% endfor %}
        </tbody>
    </table>

    {% include "fragments/pagination.html.twig" %}

{% endblock %}
