{% extends 'skeleton.html.twig' %}

{% block title %}{{ 'sharings.title'|trans }} - {{ 'app.name'|trans }}{% endblock %}

{% block main_script %}
    {{ encore_entry_script_tags('sharings') }}
{% endblock %}

{% block content %}
    <header class="main-header">
        <h1>{{ 'sharings.title'|trans }}</h1>
    </header>

    {% set sharings = pagination.entities %}

    {% if sharings|length == 0 %}
        <div class="alert alert-info" role="alert">{{ 'sharings.none'|trans }}</div>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th class="text-left">{{ 'sharings.path'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for sharing in sharings %}
                    {% cache cache_key('sharing', sharing) %}
                    <tr class="sharing" id="sharing-{{ sharing.id }}">
                        <td class="text-col text-left">
                            <a href="{{ path('sharedFiles_listFiles', { id: sharing.id }) }}">{{ sharing.path }}</a>
                        </td>
                        <td>
                            <button class="icon-only danger sharing-remove">
                                {{ ux_icon('close') }}
                            </button>
                        </td>
                    </tr>
                    {% endcache %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include "fragments/pagination.html.twig" %}

{% endblock %}
