{% extends 'skeleton.html.twig' %}

{% block title %}{{ name }} - {{ 'app.name'|trans }}{% endblock %}

{% block css %}
{{ parent() }}
{{ css('css/media')|raw }}
{% endblock %}

{% block content %}
<h1 title="{{ name }}">{{ name }}</h1>
{% include 'fragments/breadcrumb.html.twig' %}
{% if text is defined %}
    <pre>{{ text }}</pre>
{% elseif src is defined %}
    <div class="media-container">
        <img src="{{ path('openFile', { path: src }) }}" />
    </div>
{% endif %}
{% endblock %}
