{% extends 'skeleton.html.twig' %}

{% block title %}{{ 'error.title'|trans }} {{ code }} - {{ 'app.name'|trans }}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ 'error.title'|trans }} {{ code }}</h1>
        <p>{{ error }}</p>
    </div>
{% endblock %}
