{% extends 'skeleton.html.twig' %}

{% block title %}{{ 'app.name'|trans }} - {{ 'home.title'|trans }}{% endblock %}

{% block css %}
{{ css('css/main')|raw }}
{% endblock %}

{% block content %}
{% if error is defined and error is not empty %}
    <div class="alert alert-danger" role="alert">{{ error|trans }}</div>
{% endif %}

<div class="jumbotron">
    <h1>{{ 'home.welcome'|trans }}</h1>
    <p>{{ 'home.description'|trans|nl2br }}</p>
</div>
{% endblock %}
