{% extends 'skeleton.html.twig' %}

{% block title %}{{ name }} - {{ 'app.name'|trans }}{% endblock %}

{% block css %}
{{ css('css/play')|raw }}
{% endblock %}

{% block content %}
<h1>{{ name }}</h1>
<ol class="breadcrumb">
    {% for name, path in breadcrumb %}
        <li{% if loop.last %} class="active"{% endif %}>
            {% if loop.last %}
                <span>{{ name }}</span>
            {% else %}
                <a href="{{ path('listFiles', { path: path }) }}">{{ name }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ol>
<div class="video-container">
    <video autoplay controls>
        <source type="video/mp4" src="{{ path('openFile', { path: src }) }}"></source>
    </video>
</div>
{% endblock %}
