<!doctype html>
<html lang="{{ app.locale }}">

    {% set route = get_route_cache_key(app.request, error|default(null)) %}

    {% cache cache_key('head', route ~ sha256(app.request.query.all|json_encode)) %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}{% endblock %}</title>

            {% if route is not empty %}
                {% for locale in locales %}
                    {% if locale != app.locale %}
                        <link rel="alternate" href="{{ url(app.request.attributes.get('_action'), app.request.query.all|merge({ _locale: locale })) }}" hreflang="{{ locale }}" />
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% cache cache_key('head_inner', route) %}
                <meta name="description" content="{{ 'app.description'|trans }}">
                <meta name="viewport" content="width=device-width, initial-scale=1">

                <link rel="icon" type="image/x-icon" href="{{ asset('build/favicon.ico') }}" />

                {% block stylesheets %}{% endblock %}
            {% endcache %}
        </head>
    {% endcache %}

    <body
        {% if js_vars %}
            data-athorrent="{{ js_vars|json_encode }}"
        {% endif %}
    >
        {% set navbar_visible = is_auth_required() %}
        {% include 'top-bar.html.twig' %}

        <div class="main-layout">
            {% if navbar_visible %}
                {% include 'nav.html.twig' %}
                <div class="sidebar-backdrop"></div>
            {% endif %}

            <div class="container">
                {% if notifications is defined %}
                    <div class="alert-stack">
                        {% include 'notifications.html.twig' %}
                    </div>
                {% endif %}

                {% block content %}{% endblock %}
            </div>
        </div>


        {% cache cache_key('footer', route) %}
            {% block templates %}
                <template id="template-modal">{% include "fragments/modal.html.twig" %}</template>
            {% endblock %}

            {% block main_script %}
                {{ encore_entry_script_tags('athorrent') }}
            {% endblock %}

            {% if analytics_tag is not empty %}
                {{ analytics_tag|raw }}
            {% endif %}
        {% endcache %}
    </body>
</html>
