<!doctype html>
<html lang="{{ app.locale }}">

    {% set route = app.request.attributes.get('_route') %}

    {% cache cache_key('head', route ~ sha256(app.request.query.all|json_encode)) %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}{% endblock %}</title>

            {% if route is not empty %}
                {% for locale in locales %}
                    {% if locale != app.locale %}
                        <link rel="alternate" href="{{ url(app.request.attributes.get('_action'), app.request.query.all|merge({ _locale: locale })) }}" hreflang="{{ locale }}" />
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% cache cache_key('head_inner', route) %}
                <meta name="description" content="{{ 'app.description'|trans }}">
                <meta name="viewport" content="width=device-width, initial-scale=1">

                <link rel="icon" type="image/x-icon" href="{{ asset('build/favicon.ico') }}" />

                {% block stylesheets %}
                    {{ encore_entry_link_tags('main') }}
                {% endblock %}
            {% endcache %}
        </head>
    {% endcache %}

    <body
        {% if js_vars %}
            data-athorrent="{{ js_vars|json_encode }}"
        {% endif %}
    >
        {% include 'nav.html.twig' %}

        <div class="container">
            {% if notifications is defined %}
                <div class="alert-stack">
                    {% for notification in notifications %}
                        {% if notification.type.value == "error" %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ notification.message|trans }}
                            </div>
                        {%  elseif notification.type.value == "success" %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ notification.message|trans }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            {% block content %}{% endblock %}
        </div>

        {% cache cache_key('footer', route) %}
            {% block templates %}
                <template id="template-modal">{% include "fragments/modal.html.twig" %}</template>
            {% endblock %}

            {% block main_script %}
                {{ encore_entry_script_tags('athorrent') }}
            {% endblock %}

            {% if analytics_tag is not empty %}
                {{ analytics_tag|raw }}
            {% endif %}
        {% endcache %}
    </body>
</html>
