{% apply spaceless %}
<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{{ 'app.description'|trans }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="{{ asset('build/favicon.ico') }}" />

        {% set route = app.request.attributes.get('_route') %}

        {% if route is not empty %}
            {% cache 'head' route %}
                {% for locale in locales %}
                    <link rel="alternate" href="{{ url(app.request.attributes.get('_action'), { _locale: locale }) }}" hreflang="{{ locale }}" />
                {% endfor %}
            {% endcache %}
        {% endif %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}
    </head>
    <body>
        {% include 'nav.html.twig' %}

        <div class="container">
            {% if notifications is defined %}
                <div class="alert-stack">
                    {% for notification in notifications %}
                        {% if notification.type == "error" %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ notification.message|trans }}
                            </div>
                        {%  elseif notification.type == "success" %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ notification.message|trans }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            {% block content %}{% endblock %}
        </div>

        {% if js_vars %}
            <script type="text/javascript" nonce="{{ csp_nonce('script') }}">
                const athorrent = {{ js_vars|json_encode|raw }};
            </script>
        {% endif %}

        {% block main_script %}
            {{ encore_entry_script_tags('athorrent') }}
        {% endblock %}
    </body>
</html>
{% endapply %}
