{% spaceless %}
<!doctype html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ app.locale }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ app.locale }}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{{ 'app.description'|trans }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="{{ asset_url('favicon.ico') }}" />

        {% set route = app.request.attributes.get('_route') %}

        {% if route is not empty %}
            {% cache 'head' route %}
                {% for locale in app.locales %}
                    <link rel="alternate" href="{{ uri(app.action, { _locale: locale }) }}" hreflang="{{ locale }}" />
                {% endfor %}
            {% endcache %}
        {% endif %}

        {% block css %}
            {{ css('styles/main')|raw }}
        {% endblock %}

        <!--[if lt IE 9]>
            {{ js('scripts/html5shiv')|raw }}
        <![endif]-->
    </head>
    <body>
        {% include 'nav.html.twig' %}

        <div class="container">{% block content %}{% endblock %}</div>

        {% if js_variables %}
            <script type="text/javascript">
                var athorrent = {{ js_variables|json_encode|raw }};
            </script>

            {{ js('scripts/runtime', true)|raw }}
            {{ js('scripts/' ~ (block('js')|default('athorrent')))|raw }}
        {% endif %}

        {#
        <footer>
            <div class="container">Copyright</div>
        </footer>
        #}
    </body>
</html>
{% endspaceless %}
