{% spaceless %}
<!doctype html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ app.locale }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ app.locale }}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{{ 'app.description'|trans }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="{{ asset_url('favicon.ico') }}" />

        {% set route = app.request.attributes.get('_route') %}

        {% if route is not empty %}
            {% cache 'head' route %}
                {% for locale in app.locales %}
                    <link rel="alternate" href="{{ uri(app.action, { _locale: locale }) }}" hreflang="{{ locale }}" />
                {% endfor %}
            {% endcache %}
        {% endif %}

        {% block stylesheets %}
            {{ stylesheet('main')|raw }}
        {% endblock %}

        {% block early_scripts %}
            <!--[if lt IE 9]>
                {{ script('html5shiv')|raw }}
            <![endif]-->
        {% endblock %}
    </head>
    <body>
        {% include 'nav.html.twig' %}

        <div class="container">{% block content %}{% endblock %}</div>

        {#
        <footer>
            <div class="container">Copyright</div>
        </footer>
        #}

        {% block late_scripts %}
            {% if js_variables %}
                <script type="text/javascript">
                    var athorrent = {{ js_variables|json_encode|raw }};
                </script>
            {% endif %}

            {{ script('runtime', true)|raw }}

            {% block main_script %}
                {{ script('athorrent')|raw }}
            {% endblock %}
        {% endblock %}
    </body>
</html>
{% endspaceless %}
