{% spaceless %}
<!doctype html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ app.locale }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ app.locale }}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{{ 'app.description'|trans }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="{{ '//' ~ constant('STATIC_HOST') }}/favicon.ico" />

        {% for locale in app.locales %}
            {% if locale != app.locale %}
                <link rel="alternate" hreflang="{{ locale }}" href="{{ url(app.request.attributes.get('_route'), { locale: locale }) }}" />
            {% endif %}
        {% endfor %}

        {% block css %}
            {% if constant('DEBUG') %}
                {{ css('vendor/bootstrap/dist/css/bootstrap')|raw }}
                {{ css('vendor/bootstrap/dist/css/bootstrap-theme')|raw }}
                {{ css('vendor/font-awesome/css/font-awesome')|raw }}
                {{ css('css/main')|raw }}
            {% else %}
                {{ css('css/athorrent')|raw }}
            {% endif %}
        {% endblock %}

        <!--[if lt IE 9]>
            {{ js('vendor/html5shiv/dist/html5shiv.min')|raw }}
        <![endif]-->
    </head>
    <body>
        {% include 'nav.html.twig' %}

        <div class="container">{% block content %}{% endblock %}</div>

        {% if js_variables %}
            <script type="text/javascript">
                var athorrent = {{ js_variables|json_encode|raw }};
            </script>

            {% if constant('DEBUG') %}
                {% set config_path = 'js/config' %}
                {% set require_path = '/vendor/requirejs/require.js' %}
            {% else %}
                {% set config_path = 'js/dist/config.min' %}
                {% set require_path = '/vendor/requirejs/require.min.js' %}
            {% endif %}

            {{ js(config_path, true)|raw }}
            <script type="text/javascript" src="{{ '//' ~ constant('STATIC_HOST') ~ require_path }}" data-main="{% block js %}athorrent{% endblock %}" async></script>
        {% endif %}

        {#
        <footer>
            <div class="container">Copyright</div>
        </footer>
        #}
    </body>
</html>
{% endspaceless %}
